body {
    background-color: #add8e6;
    display: flex;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    padding-left: 18%;
    padding-top: 5%;
}

.izq {
    display: block;
    width: 45%;
    margin-left: 3%;
}

h1 {
    color: white;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    font-size: 200px;
    width: 100%;
    text-align: right;
}

h2 {
    font-size: 54.1px;
    font-weight: 100;
    margin-top: -24%;
    width: 100%;
    text-align: right;
}

p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 100%;
    text-align: right;
}

.der {
    display: block;
    width: 35%;
}

.der img {
    width: 100%;
    margin-top: 20%;
    margin-left: 0%;

}

/*************************************************________TABLET________***************************************************/

@media (width <=993px) {
    body {
        background-color: #add8e6;
        display: flex;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        padding-left: 0%;
        padding-top: 5%;
    }

    .izq {
        display: block;
        width: 50%;
        margin-left: 0%;
    }

    h1 {
        color: white;
        font-weight: 800;
        font-style: normal;
        text-decoration: none;
        font-size: 10rem;
        width: 100%;
        text-align: right;
    }

    h2 {
        font-size: 54.1px;
        font-weight: 100;
        margin-top: -24%;
        width: 100%;
        text-align: right;
    }

    p {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        width: 100%;
        text-align: right;
    }

    .der {
        display: block;
        width: 50%;
    }

    .der img {
        width: 100%;
        margin-top: 14%;
        margin-left: 0%;
    }
}

/*************************************************________MOBILE________***************************************************/

@media (width <=430px) {
    body {
        background-color: #add8e6;
        display: block;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        padding-left: 0%;
        padding-top: 0%;
        justify-content: center;
        justify-items: center;
    }

    .izq {
        display: block;
        width: 100%;
        margin-left: 0%;
        justify-items: center;
    }

    h1 {
        color: white;
        font-weight: 800;
        font-style: normal;
        text-decoration: none;
        font-size: 10rem;
        width: 100%;
        text-align: center;
        line-height: 9rem;
        margin: 0;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 54.1px;
        font-weight: 100;
        margin-top: 0%;
        width: 100%;
        text-align: center;
    }

    p {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        width: 90%;
        text-align: center;
    }

    .der {
        display: block;
        width: 100%;
    }

    .der img {
        width: 100%;
        margin-top: -5%;
        margin-left: 0%;

    }
}