* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

html {
    scroll-behavior: smooth;
}

#ESTRENOS {
    scroll-margin-top: 33px;
}

body {
    background: linear-gradient(lightblue, #131313);
    justify-items: center;
}

h1 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 120px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 100;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #eadbae;
}

p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

strong {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    color: #db3738;
}

/* --------------------------------------------------------HEADER----------------------------------------------------------- */
/* ------------------------------NAVBAR */

header {
    display: flex;
    justify-content: center;
}

.disabled {
    color: gray;
    pointer-events: none;
    opacity: 0.2;
}

nav {
    display: block;
    background-color: #131313;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}

.nav-container ul {
    margin-bottom: 0rem;

}

.logo {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: all 0.3s ease;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-style: normal;
    transition: all 0.2s;
    font-size: 1.5rem;
}

.nav-links a:hover {
    opacity: 0.8;
    color: #eadbae;
    transform: translateY(-2px);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
}

/*************************************************________TABLET________***************************************************/

@media (max-width: 993px) {

    .menu-btn {
        display: block;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #131313;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        clip-path: circle(0px at 90% -10%);
        pointer-events: none;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .nav-links.active {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease;
    }

    .nav-links.active li {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li:nth-child(1) {
        transition-delay: 0.1s;
    }

    .nav-links li:nth-child(2) {
        transition-delay: 0.2s;
    }

    .nav-links li:nth-child(3) {
        transition-delay: 0.3s;
    }

    .nav-links li:nth-child(4) {
        transition-delay: 0.4s;
    }
}

/*************************************************________MOBILE________***************************************************/

@media (width <=430px) {

    nav {
        padding: 1rem;
        z-index: 1000;
    }
}

/* **************************************************************************************************************************** */
/* -------------------------------------------------------CATÁLOGO------------------------------------------------------------- */
/* ____________________________________________________________________________________________________________________________ */

main {
    display: block;
    justify-items: center;
    padding-top: 5%;
    color: #131313;
}

main h1 {
    font-size: 6rem;
}

main h2 {
    font-size: 2rem;
    letter-spacing: 12px;
    line-height: 0rem;
    color: #db3738;
    font-weight: 600;
    padding-bottom: 1%;
}

main p {

    text-align: center;
    width: 35%;
    font-size: 1rem;
}

.catalog {
    display: block;
    justify-items: center;
    padding-bottom: 6%;
}

.items {
    display: flex;
    gap: 1rem;
    width: 80%;
    padding-top: 1%;
    flex-wrap: wrap;
    justify-content: center;
}

.items .card {
    border-radius: 12px;
    max-width: 372px;
}

.card {

    width: 100%;
    border-radius: 12px;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 2px 10px #131313;
}

.card-text {

    font-size: 2rem;
    text-align: left;
}

.card figure {
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.2s;
}

.card:hover img {
    transform: scale(1.2) translateY(-20px);
}

.card-body a {
    background-color: #db3738;
    color: white;
    padding: 3%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 1.5rem;
    width: 100%;
}

.card-body a:hover {
    background-color: #b71c1c;
}

.card-body span {
    color: #db3738;
    margin-right: 1rem;
}

.more {
    font-size: 6rem;
    color: #eadbae;
    font-weight: 400;
    padding-bottom: 5%;
    padding-top: 5%;
}

/*************************************************________EXTRA________***************************************************/

@media (width<=789px) {
    main h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
}

/*************************************************________TABLET________***************************************************/

@media (width <=993px) {

    main {
        padding-top: 9%;
    }

    main p {
        width: 70%;
    }

    .items {
        width: 100%;
    }

    .items .card {
        max-width: 475px;
    }

    .more {
        font-size: 4rem;
        padding-bottom: 6%;
        padding-top: 8%;
    }
}

/*************************************************________MOBILE________***************************************************/

@media (width <=430px) {

    body {
        background: linear-gradient(#131313, #131313);
    }

    main {
        color: #ffffff;
        padding-top: 16%;
    }

    main h1 {
        font-size: 2.5rem;
    }

    main h2 {
        font-size: 1.2rem;
        letter-spacing: 4px;
        line-height: 1rem;
        padding-bottom: 0%;
    }

    main p {
        width: 80%;
        font-size: 0.8rem;
    }

    .items .card {
        max-width: 191px;
    }

    .card-body h5 {
        font-size: 0.8rem;
    }

    .card-body span {
        color: #db3738;
        margin-right: 0.5rem;
    }

    .more {
        font-size: 2rem;
        padding-bottom: 8%;
        padding-top: 15%;
    }
}

/*************************************************________EXTR________***************************************************/

@media (width<=387px) {

    main {
        padding-top: 22%;
    }

    main h1 {
        font-size: 2.2rem;
    }

    main h2 {
        font-size: 1rem;
    }

    main p {
        font-size: 0.7rem;
        width: 90%;
    }

    .items .card {
        max-width: 335px;
    }
}

/* **************************************************************************************************************************** */
/* -----------------------------------------------------------BENTO GRID------------------------------------------------------- */
/* ____________________________________________________________________________________________________________________________ */

#non-bento {
    display: none;
}

#bento {

    width: 80vw;
    height: 40vw;
    display: grid;
    gap: 20px;
    padding: 1%;
    grid-template-columns: 1fr 5.94fr 5fr 5.8fr;
    grid-template-rows: 3fr 4fr 2fr;
    grid-template-areas: "SBC  CARTEL  MUÑECO  PUBLICIDAD"
        "SBC  CARTEL  MUÑECO  TEXTO"
        "SBC  CARTEL  CAJA    TEXTO"
    ;
    background-color: #131313;
    border-radius: 12px;
    margin-bottom: 2rem;
}

#CARTEL,
#MUÑECO,
#CAJA,
#PUBLICIDAD,
#TEXTO,
#CARTEL2,
#MUÑECO2,
#CAJA2,
#PUBLICIDAD2,
#TEXTO2 {
    border-radius: 12px;
    text-align: center;
    overflow: auto;
}

#SBC {
    grid-area: SBC;
    background-color: #131313;
}

#SBC img {
    width: 100%;
    height: 100%;
}

#CARTEL {
    grid-area: CARTEL;
    width: 100%;
    height: 100%;
}

#CARTEL img {
    width: 100%;
    height: 100%;
}

#MUÑECO {
    grid-area: MUÑECO;
    width: 100%;
    height: auto
}

#MUÑECO img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#CAJA {
    grid-area: CAJA;
    width: 100%;
    height: auto
}

#CAJA img {
    width: 100%;
}

#PUBLICIDAD {
    grid-area: PUBLICIDAD;
    height: auto;
}

#PUBLICIDAD img {
    width: 100%;
    height: 100%;
}

#TEXTO {
    grid-area: TEXTO;
    background-color: #eae2d5;
    height: auto;
    padding: 2.5%;
    color: #1e1f1c;
}

#TEXTO h3 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #c72c29;
    text-align: left;
    font-weight: 900;
    font-variation-settings:
        "wdth" 800;
}

#TEXTO h4 {
    font-size: 1.7rem;
    letter-spacing: 7px;
    text-align: left;
    color: #131313;
    line-height: 2rem;
}

#TEXTO p {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    font-weight: 500;
}

#TEXTO .bento-price {
    font-size: 2rem;
    text-align: left;
}

#TEXTO .btn-primary {
    background-color: #db3738;
    border: #db3738;
}

#TEXTO a {
    background-color: #db3738;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 1.5rem;
    width: 70%;
}

#TEXTO a:hover {
    background-color: #b71c1c;
}

/*************************************************________TABLET________***************************************************/

@media (width <=993px) {

    #non-bento {
        display: none;
    }

    #bento {
        padding: 2%;
        grid-template-columns: 1fr 6fr 5fr;
        /* ancho de columna */
        grid-template-rows: 4.5fr 1.5fr 4.3fr 6fr;
        /* altura de filas */
        grid-template-areas:
            "SBC CARTEL MUÑECO"
            "SBC CARTEL CAJA"
            "PUBLICIDAD PUBLICIDAD PUBLICIDAD"
            "TEXTO TEXTO TEXTO";
        aspect-ratio: 2 / 4;
        /* ancho / alto */
        height: auto;
    }

    #TEXTO {
        grid-area: TEXTO;
        background-color: #eae2d5;
        height: auto;
        padding: 2%;
        color: #1e1f1c;
    }

    #TEXTO h3 {
        font-size: 2rem;
    }

    #TEXTO h4 {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }

    #TEXTO p {
        font-size: 1.5rem;
        padding-top: 1.5%;
    }

    #TEXTO .bento-price {
        font-size: 2rem;
        text-align: left;
    }

    #TEXTO a {
        width: 40%;
    }
}

/*************************************************________MOBILE________***************************************************/

@media (width<=430px) {

    #bento {
        display: none;
    }

    #non-bento {
        display: block;
        padding-left: 4%;
        padding-right: 4%;
    }

    #SBC2 {
        border-radius: 0px;
        margin-bottom: 1rem;
    }

    #SBC2 img {
        width: 100%;
        height: auto;
    }

    #CARTEL2 {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    #CARTEL2 img {
        width: 100%;
        height: auto;
        padding-bottom: 0%;
    }

    #MUÑECO2 {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    #MUÑECO2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    #CAJA2 {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    #CAJA2 img {
        width: 100%;
    }

    #PUBLICIDAD2 {
        height: auto;
        margin-bottom: 1rem;
    }

    #PUBLICIDAD2 img {
        width: 100%;
        height: auto;
    }

    #TEXTO2 {
        background-color: #eae2d5;
        height: auto;
        padding: 2%;
        color: #1e1f1c;
        margin-bottom: 1rem;
    }

    #TEXTO2 h3 {
        font-size: 2.15rem;
        letter-spacing: 2px;
        color: #c72c29;
        text-align: left;
        font-weight: 900;
        font-variation-settings:
            "wdth" 800;
        padding-top: 0%;
    }

    #TEXTO2 h4 {
        font-size: 1.6rem;
        letter-spacing: 2px;
        text-align: left;
        color: #131313;
        line-height: 1rem;
    }

    #TEXTO2 p {
        font-size: 1rem;
        width: 100%;
        text-align: left;
        font-weight: 500;
        padding-top: 2%;
        margin-bottom: 0rem;
    }

    #TEXTO2 .bento-price {
        font-size: 2rem;
    }

    #TEXTO2 .btn-primary {
        background-color: #db3738;
        border: #db3738;
    }

    #TEXTO2 a {
        background-color: #db3738;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.2s;
        font-size: 1.5rem;
        width: 50%;
        margin-bottom: 3%;
    }

    #TEXTO2 a:hover {
        background-color: #b71c1c;
    }
}

/* **************************************************************************************************************************** */
/* -----------------------------------------------------------FOOTER----------------------------------------------------------- */
/* ____________________________________________________________________________________________________________________________ */

footer {
    display: flex;
    background-color: #eadbae;
    height: auto;
    width: 100%;
    justify-content: center;
}

.foot-desktop {
    width: 80%;
    display: flex;
    align-items: center;
}

.foot-tablet {
    display: none;
}

.foot-mobile {
    display: none;
}

.foot-1 {
    width: 20%;
    text-align: right;
}

.foot-1 p {
    font-size: 2rem;
    margin-bottom: 0%;
}

.foot-1 a {
    color: #131313;
    text-decoration: none;
    font-size: 0.8rem;
}

.foot-2 {
    display: block;
    justify-items: center;
    padding: 1%;
    width: 60%;
}

.foot-2 a {
    display: flex;
    justify-content: center;
}

.foot-2 img {
    width: 15%;
    padding: 1%;
    transition: 0.5s;
}

.foot-2 p {
    font-size: 0.8rem;
    font-weight: 800;
}

.foot-3 {
    width: 20%;
    display: flex;
    gap: 2rem;

}

.foot-3 a {
    width: 10%;
    transition: 0.3s ease;
}

.foot-3 a:hover {
    transform: translateY(-10px);
}


/*************************************************________EXTRA________****************************************************/


@media (width<=526px) {
    .foot-1 a {
        font-size: 0.5rem;
    }
}

/*************************************************________TABLET________***************************************************/

@media (width <=993px) {

    .foot-desktop {
        display: none;
    }

    .foot-mobile {
        display: none;
    }

    .foot-tablet {
        display: flex;
        align-items: center;
    }

    .foot-1 {
        width: 50%;
        display: block;
        justify-items: left;
        text-align: left;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 9%;
        padding-right: 9%;
        border-left: 1px solid #131313;
    }

    .foot-1 p {
        font-size: 2rem;
        font-weight: 600;
    }

    .foot-1 a {
        color: #131313;
        text-decoration: none;
    }

    .foot-3 {
        width: 50%;
    }

    .foot-3 a {
        width: 20%;
        transition: 0.3s ease;
    }

    .foot-3 a:hover {
        transform: translateY(-10px);
    }

    .foot-2 {
        width: 50%;
        text-align: center;
        padding-left: 9%;
        padding-right: 9%;
    }

    .foot-2 img {
        width: 50%;
    }
}

/*************************************************________MOBILE________***************************************************/

@media (width <=430px) {

    .foot-desktop {
        display: none;
    }

    .foot-tablet {
        display: none;
    }

    .foot-mobile {
        display: block;
        justify-items: center;
        width: 430px;
    }

    .foot-1 {
        width: 100%;
        justify-items: center;
        text-align: center;
        padding-top: 8%;
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
        border-left: 1px solid transparent;
    }

    .foot-1 p {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
    }

    .foot-1 a {
        text-decoration: none;
        padding-top: 0%;
        font-size: 1rem;
    }

    .foot-3 {
        width: 100%;
        justify-content: center;
    }

    .foot-3 a {
        width: 5%;
        transition: 0.3s ease;
    }

    .foot-3 a:hover {
        transform: translateY(-10px);
    }

    .foot-2 {
        padding: 3%;
        width: 60%;
    }

    .foot-2 p {
        font-size: 0.6rem;
    }
}